services:
  - type: web
    name: projet-pollution-api
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_REFRESH_SECRET
        generateValue: true
      - key: JWT_EXPIRES_IN
        value: 24h
      - key: JWT_REFRESH_EXPIRES_IN
        value: 7d
      - key: UPLOAD_DIR
        value: uploads

databases:
  - name: pollution-db
    databaseName: pollution_db
    user: pollution_user
